.grupo_header {
	border-bottom: 1px solid #999;
	margin: 1em 0;
}
.partido_header {
	margin-bottom: .7em;
	}
.fila {
	margin-bottom: .5em;
}
.fila span, .partido_header span {
	display: inline-block;
}

.match {
	width: 90px;
}
.date {
	width: 80px;
}
.time {
	width: 70px;
}
.teams {
	width: 300px;
}
.teamsro {
	width: 250px;
}


.teamsro .local {
	width: 100px;
}

.teamsro .result {
	width: 30px;
}
.teamsro .visitante {
	width: 100px;
	text-align: right;
}

.teams input {
	margin-bottom: 0;
}

.teams .local {
	width: 130px;
}

.teams .result {
	width: 30px;
}
.teams .visitante {
	width: 130px;
	text-align: right;
}
.points {
	width:30px;
	margin-left: 2em;
}

.score {
	width: 10px;
}

.pronostico {
	width: 50px;
	text-align: center;
}

.ranking {
	max-width: 300px;
}
.pronosticos {
	max-width: 400px;
}
.label a {
	color: white;
	
}
@media (max-width: 767px) {

 .badge-puntos:before {
  		content: "Puntos: ";
  }
 #logo:after {
  		content: "Tequiniela 2013";
  		font-size: 80%;
  		margin-left: 10px;
    }
  #title {
  	display:none;
  }

}
@media (max-width: 361px) {

 #logo:after {
  		content: "Tequiniela";
  		font-size: 80%;
  		margin-left: 10px;
  }
  #title {
  	display:none;
  }
  #rankingtable td:nth-child(5n),th:nth-child(5n) {
  	display:none;
  	
  }
 }
@media (max-width: 320px) {

 #logo:after {
  		content: "Tequiniela";
  		font-size: 80%;
	  }
  #title {
  	display:none;
  }
  #rankingtable td:nth-child(5n),th:nth-child(5n) {
  	display:none;
  	
  }
  #username{
  	display:none;
  }
 }
.nextmatch {
	
	background-color: #FFEDC9;
}

#rankingtable th{
	white-space: nowrap;
}

#rankingtable td.center{
	text-align:center;
}

.jornada {
	display:none;
}
.jornada.actual {
	display:block;
}

.hero-unit{
	  background:url("http://quiniela.efectotequila.com/img/fondo_Balon.jpg") no-repeat scroll 0 0 transparent;          

}

#Yo td{
	background: #DA4F49 !important;
}

.label-info {
  background-color: #3A87AD;
  margin-left: 40px;
}